@charset "UTF-8";
/*----------------------------------------------------------------*\
	main.css is based on http://inuitcss.com by Harry Roberts
\*----------------------------------------------------------------*/

/*
Author:             Luke Darbyshire
Twitter:            @lukedarbyshire
Date:               24 July 2012
*/




/*------------------------------------*\
	CONTENTS
\*------------------------------------*/
/*
RESET
SHARED
MAIN
GRIDS
CLEARFIX
ISLAND
MEDIA
LOGO
NAV
TYPE
IMAGES
FORMS
TABLES
MESSAGES
MISC
CLASSES
DIAGNOSTICS
NARROW
MOBILE
PRINT
*/





/*------------------------------------*\
	$RESET
\*------------------------------------*/
/*
csswizardry.com/2011/10/reset-restarted
*/
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,hr,
a,abbr,address,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strong,sub,sup,tt,var,
b,u,i,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
	margin:0;
	padding:0;
}
article,aside,details,figcaption,figure,footer,
header,hgroup,menu,nav,section{
	display:block;
}
h1,h2,h3,h4,h5,h6{
	font-size:1em;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
em,i,cite,q,address,dfn,var{
	font-style:italic;
	font-weight:inherit;
}
abbr[title],dfn[title]{
	cursor:help;
	border-bottom:1px dotted;
}
ins{
	border-bottom:1px solid;
}
a,u,ins{
	text-decoration:none;
}
del,s{
	text-decoration:line-through;
}
pre,code,samp,kbd{
	font-family:monospace;
}
small{
	font-size:0.75em;
}

img {
	border: none;
	font-style: italic;
	image-rendering: optimizeQuality;
	-ms-interpolation-mode: bicubic;
	}
	
input,
select,
option,
optgroup,
textarea {
	font:inherit;
	}





/*------------------------------------*\
	$SHARED
\*------------------------------------*/
/*
Rather than repeating declarations over and over, let’s make a shared section.
*/
h1,h2,h3,h4,h5,h6,
ul,ol,dl,p,address,figure,pre,fieldset, table,hr,
.nav,.island,.media, .grids, .button, [class^="grid-"], .main-image {
	margin-bottom: 2em;
	margin-bottom: 2rem;
	}

li {
	margin-bottom: .5em;
	}

h1, 
h2, 
h3, 
.main-nav,
.button.primary { 
	font-family: DIN-bold, 'Helvetica Neue', Helvetica, Arial, sans-serif; 
	text-transform: uppercase; 
	}

figcaption,small{
	font-size:12px;
	font-size:0.75rem;
}
ul,ol,dd{
	margin-left: 1em;
}
small,code{
	line-height:1;
}
pre,code,
input,textarea{
	font:inherit;
}

hr{
	padding:0;
	border:none;
	height:0;
	background-color: transparent;
	}

.no-js section.slideshow .nav {
	display: none;
	}

section.slideshow .nav li,
section.slideshow .nav li a,
.social-nav li, 
.social-nav a {
	float: left;
	display: block;
	width: 40px;
	height: 40px;
	padding: 0;
	margin: 0 20px 0 0;
	-webkit-border-radius: 1px;
	   -moz-border-radius: 1px;
			border-radius: 1px;
	}

section.slideshow .nav li,
.social-nav li {
		opacity: .5;
	}
	
	section.slideshow .nav li a, 
	.social-nav a  {
		float: none;
		margin: 0;
		text-indent: 200%;
		white-space: nowrap;
		overflow: hidden;
		}
	
	section.slideshow .nav li:hover, 
	.social-nav li:hover  {
		opacity: 1;
		   -moz-box-shadow: 0 0 4px 2px rgba(1, 3, 4,0.15);
		-webkit-box-shadow: 0 0 4px 2px rgba(1, 3, 4,0.15);
				box-shadow: 0 0 4px 2px rgba(1, 3, 4,0.15);
		}

hr,
.hr {
	border-bottom: 1px solid rgba(1, 3, 4,0.5);
	
-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.2);
   -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.2);
		box-shadow: 0 1px 0 rgba(255,255,255,0.2);
	}

.img-link {
	display: block;
	padding: 0;
	margin: 0;
	}

.img-link:hover {
	background-color: rgba(33,187,191,0);
	
	 -webkit-box-shadow: 0 0 30px rgba(33,187,191,.5);
		-moz-box-shadow: 0 0 30px rgba(33,187,191,.5);
			 box-shadow: 0 0 30px rgba(33,187,191,.5);
	}


/*------------------------------------*\
	$MAIN
\*------------------------------------*/



/* Generated by Font Squirrel (http://www.fontsquirrel.com) on July 14, 2012 */
@font-face {
    font-family: 'DIN-bold';
    src: url('../fonts/din-bold.eot');
    src: url('../fonts/din-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/din-bold.woff') format('woff'),
         url('../fonts/din-bold.ttf') format('truetype'),
         url('../fonts/din-bold.svg#DINBold') format('svg');
    font-weight: bold;
    font-style: normal;
	}

@font-face {
    font-family: 'DIN-regular';
    src: url('../fonts/din-regular.eot');
    src: url('../fonts/din-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/din-regular.woff') format('woff'),
         url('../fonts/din-regular.ttf') format('truetype'),
         url('../fonts/din-regular.svg#DINRegular') format('svg');
    font-weight: normal;
    font-style: normal;

	}
	
	
html{
	overflow-y:scroll; /* Force scrollbars 100% of the time */
	font-size:100%; /* Use 16px as per informationarchitects.jp/en/100e2r/ and wilsonminer.com/posts/2008/oct/20/relative-readability/ */
	line-height:1.5; /* A safe default for type of any size. */
	background-color:#010304;
	background-image: url(../img/css/bo_play_pattern.png);
	color:#ddd;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}
body{
	min-height:100%;
	padding: 0 15px;
	overflow-x: hidden;
	}

.no-js body{
	background: url(../img/bgs/01.jpg) no-repeat top center; 
	}

.wrapper{
	width:auto;
	max-width: 940px;
	margin: 0 auto;
	padding: 0 10px;
	}

article,
footer {
	margin: 0 auto;
	min-height:100%;
	background-color: #010304;
	background-color: rgba(1, 3, 4, 0.75);
	padding: 2em 5%;
	}

aside.aside {
	min-height: 600px; 
	}

.aside {
	background: url(../img/css/aside-bg.png) repeat-x top left;
	}

.aside .margin {
	padding: 20px; 
	background: url(../img/css/aside-bg-45px.png) no-repeat top left;
	min-height: 660px; 
	}

div.no-main-image {padding:2em 0;}

/*------------------------------------*\
	$HEADER
\*------------------------------------*/
header{
	background-color: rgba(0, 0, 0, 0.75);
	height: 4.25em;
	overflow: visible;
	}

.logo,
.logo:active {
	position: absolute;
	padding: .75em 0;
	margin: 0;
	z-index: 30;
	text-align: center;
	}
	
.logo:hover {
	background-color: rgba(33,187,191,0);
	background-image: -webkit-linear-gradient(bottom, rgba(33,187,191,0), rgba(33,187,191,.3) 25%, rgba(33,187,191,.3) 75%, rgba(33,187,191,0));
	background-image:    -moz-linear-gradient(bottom, rgba(33,187,191,0), rgba(33,187,191,.3) 25%, rgba(33,187,191,.3) 75%, rgba(33,187,191,0));
	background-image:      -o-linear-gradient(bottom, rgba(33,187,191,0), rgba(33,187,191,.3) 25%, rgba(33,187,191,.3) 75%, rgba(33,187,191,0));
	background-image:     -ms-linear-gradient(bottom, rgba(33,187,191,0), rgba(33,187,191,.3) 25%, rgba(33,187,191,.3) 75%, rgba(33,187,191,0));
	background-image:         linear-gradient(to top, rgba(33,187,191,0), rgba(33,187,191,.3) 25%, rgba(33,187,191,.3) 75%, rgba(33,187,191,0));
	}

.nav-trigger {
	width: 20px; 
	background: url(../img/css/sprites.png) 4px -84px no-repeat;
	float: right;
	margin: 1.15em;
	opacity: .8;
	}

.no-js .nav-trigger {
	display: none;
	}

.nav-trigger.active {
	background-position: 4px -124px;
	}

.nav-trigger:hover {
	opacity: 1;
	}
	
ul.nav.main-nav {
	font-size: 1em; /* 16px */
	position: relative;
	z-index: 20;
	width: 100%;
	clear: both;
	float: right;
	margin-bottom: 13em;
	background-color: rgba(1, 3, 4,0.4);
	}
	
.js ul.nav.main-nav {
	display: none;
	}
	
	.main-nav a {
		color: #eee;
		border-top: 1px solid rgba(1, 3, 4,0.1);
		border-bottom: 3px solid transparent;
		padding: 15px;
		white-space: nowrap;
		margin: 0;
		text-align: right;
		}
		
	.textshadow .main-nav a {
		text-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
		}
	
	.main-nav a:hover,
	.main-nav > .active > a {
		border-bottom-color: #21bbbf;
		}
	
	.main-nav a:hover,
	.rgba .main-nav a:hover {
		color: #fff;
		background-color: rgba(1, 3, 4,0.2);
		}

	.nav.main-nav ul {
		font-family: DIN-regular, 'Helvetica Neue', Helvetica, Arial, sans-serif ; /*
		font-size: .9em;
		margin-right: 1em;
		border-right:  1px solid rgba(1, 3, 4,0.1); */
		}

		.main-nav ul a {
			padding: .5em 2em;
			}





/*------------------------------------*\
	$ARTICLE
\*------------------------------------*/

aside.connect-group {
	width: 260px;
	min-height: 260px;
	padding: 50px 20px;
	margin: 1em 0;
	background: url(../img/css/aside.connect.png) no-repeat top center;
	}
	
	aside.connect-group h2 {
		margin-bottom: .5em;
		}
	
	.connect-group form {
		margin-bottom: 1.5em;
		}
	
	.connect-group .formrow {
		margin-bottom: 0;
		}
		
		.connect-group .formrow input {
			width: 54%;
			}
	
	.signup-response {
		min-height: 1.5em;
		margin: .5em 0;
		}

.social-nav.nav {
	margin-top: 1em;
	}
		
		.social-nav a {
			background: url(../img/css/sprites.png) 0 -160px no-repeat;
			}
		
		.social-nav a:hover {
			background-color: transparent;
			background-position: -40px -160px;
			}
		
		.social-nav a.social-facebook {
			background-position: 0 -200px;
			}
		
		.social-nav a.social-facebook:hover {
			background-position: -40px -200px;
			}
		
		.social-nav a.social-google {
			background-position: 0 -240px;
			}
		
		.social-nav a.social-google:hover {
			background-position: -40px -240px;
			}





/*------------------------------------*\
	$FOOTER
\*------------------------------------*/
footer {
	color:#999;
	padding-top: 1em;
	margin-top: 1em;
	}

	footer p,
	.grids footer .nav {
		list-style: none;
		clear: both;
		float: right;
		text-align: right;
		margin-bottom: 0;
		margin-right: 1em;
		}

		footer li {
			display: block;
			margin: 0 0 0 1em;
			float: left;
			}

		footer a,
		footer p {
			padding: 5px;
			}

		footer a {
			color: #666;
			}

		footer a:hover {
			color: #fff;
			}


.shadow {background:url(../img/css/shadow_1.png) repeat-x  left bottom; position:fixed; left:0; top:0; z-index:-1; height:100%; width:100%;}




/*------------------------------------*\
	$CLEARFIX
\*------------------------------------*/
/*
Fix clearing issues as per: nicolasgallagher.com/micro-clearfix-hack/
*/
.cf,
.grids,
.media,
.formrow{
	zoom:1;
}
.cf:before,
.grids:before,
.media:before,
.formrow:before,

.cf:after,
.grids:after,
.media:after,
.formrow:after{
	content:"";
	display:table;
}
.cf:after,
.grids:after,
.media:after,
.formrow:after {
	clear:both;
}

/*------------------------------------*\
	$NAV
\*------------------------------------*/
/*
Create an abstraction, as per: csswizardry.com/2011/09/the-nav-abstraction/
*/
.nav, 
.nav ul,
.grids .nav, 
.grids .nav ul {
	list-style:none;
	margin: 0;
	padding: 0;
	}
	
	.nav li,
	.nav a {
		display: block;
		margin-bottom: 0;
		}


/*------------------------------------*\
	$TYPE
\*------------------------------------*/


/*--- HEADINGS ---*/

h1,.alpha{
	font-size:2.25em;		/* 36px */
	line-height:1;			/* 36px */
	text-shadow: 0 0 8px rgba(1, 3, 4,.75);
	}
.opacity h1, 
.opacity .alpha {
	opacity: 0.85;
	}
h2,.beta{
	font-size:1.5em;		/* 24px */
	line-height:1.25;		/* 30px */
	}
h3,.gamma{
	font-size:1.25em;		/* 20px */
	line-height:1.2;		/* 24px */
	}
h4,.delta{
	font-size:1.125em;		/* 18px */
	line-height:1.333;		/* 24px */
	}
h5,.epsilon{
	font-weight:bold;
	}
h5,.epsilon,
h6,.zeta{
	font-size:1em;			/* 16px */
	line-height:1.5;		/* 24px */
	}

/*--- PARAGRAPHS ---*/


strong { 
	font-weight: bold;
	text-transform: uppercase;
	}

/*--- LINKS ---*/

a {
	color:#e01b26;
    position: relative;
    padding: .25em;
    margin: -.25em;
	cursor: pointer;
	}
	

a:visited{
	opacity:0.8; /* A bit basic, but it’s a bare minumum... */
	}

a:hover,
a:active {
	background-color: rgba(33, 187, 191,0.5);
	color: #fff;
	}
	
.no-rgba a:hover {
	background: transparent url(../img/css/global-a-bg.png) repeat;
	}

a:active,
a:focus{
	/* Give clicked links a depressed effect. */
	position:relative;
	top: 1px;
	}

a, 
li {
	
	-webkit-transition: background-color 0.4s, opacity 0.4s;
		 -o-transition: background-color 0.4s, opacity 0.4s;
	   -moz-transition: background-color 0.4s, opacity 0.4s;
			transition: background-color 0.4s, opacity 0.4s;
	}

/*--- BUTTONS ---*/

.button,
.button:hover,
.button:active {
	display: block;
	padding: 1em 0;
	text-align: center;
	background-color: #e01b26;
	-webkit-box-shadow: 0 0 25px rgba(1, 3, 4,.25), inset 0 1px rgba(255,255,255,.3), inset 0 0 1px #6d0821;
	   -moz-box-shadow: 0 0 25px rgba(1, 3, 4,.25), inset 0 1px rgba(255,255,255,.3), inset 0 0 1px #6d0821;
	        box-shadow: 0 0 25px rgba(1, 3, 4,.25), inset 0 1px rgba(255,255,255,.3), inset 0 0 1px #6d0821;
	background-image: -webkit-linear-gradient(bottom, rgba(1, 3, 4,.3), rgba(255,255,255,.3));
	background-image:    -moz-linear-gradient(bottom, rgba(1, 3, 4,.3), rgba(255,255,255,.3));
	background-image:      -o-linear-gradient(bottom, rgba(1, 3, 4,.3), rgba(255,255,255,.3));
	background-image:     -ms-linear-gradient(bottom, rgba(1, 3, 4,.3), rgba(255,255,255,.3));
	background-image:         linear-gradient(to top, rgba(1, 3, 4,.3), rgba(255,255,255,.3));
	color: #000;
	color: rgba(1, 3, 4,0.8);
	text-shadow: 0 1px rgba(255,255,255,.2);
	opacity: .8;
	border: none;
	cursor: pointer;
	font-size: .85em;
	font-weight: bold;
	text-transform: uppercase;
	}


.button:hover,
.button:active {
	opacity: 1;
	}

.button.primary {
	font-size: 1.2em;
	padding: 2em;
	background-color: #21bbbf;
	-webkit-box-shadow: 0 0 25px rgba(1, 3, 4,.25), inset 0 1px rgba(255,255,255,.6), inset 0 0 1px #446b08;
	   -moz-box-shadow: 0 0 25px rgba(1, 3, 4,.25), inset 0 1px rgba(255,255,255,.6), inset 0 0 1px #446b08;
	        box-shadow: 0 0 25px rgba(1, 3, 4,.25), inset 0 1px rgba(255,255,255,.6), inset 0 0 1px #446b08;
	}

/*--- LISTS ---*/
li > ul,
li > ol{
	/* Let’s take care of lists in lists */
	margin-bottom:0;
}

/*
A numbered list is NOT the same as an ordered one: csswizardry.com/2011/09/ordered-and-numbered-lists-the-differences/
Use this class when you want a list to be numbered but it has no order.
*/
ul.numbered{
	list-style:decimal outside;
}
dt{
	font-weight:bold;
}

/*--- QUOTES ---*/
/*
Big up @boblet: html5doctor.com/blockquote-q-cite/
*/
q{ quotes:"‘" "’" "“" "”"; }

q:before{ content:"‘"; content:open-quote; }
q:after{ content:"’"; content:close-quote; }

q q:before{ content: "“"; content: open-quote; }
q q:after{ content: "”"; content: close-quote; }

blockquote { 
	quotes: "“" "”"; 
	}
blockquote p:before{ content: "“"; content: open-quote; }
blockquote p:after{ content: ""; content: no-close-quote; }
blockquote p:last-of-type:after{ content: "”"; content: close-quote; }

/*
Mark up the source of a quote with .source:
<blockquote>
	<p>Lorem ipsum dolor sit amet. <b class=source>Joe Bloggs</b></p>
</blockquote>
*/
.source{
	display:block;
	text-indent:0;
	margin-top:-24px;
	margin-top:-1.5rem;
}
	.source:before{
		content:"—";
	}





/*------------------------------------*\
	$IMAGES
\*------------------------------------*/

img.left	{ margin:0 1.5em 0 0; }
img.right	{ margin:0 0 0 1.5em; }
	
.img-hover img {
   -moz-box-shadow: 0 0 20px 5px rgba(1, 3, 4,0.5);
-webkit-box-shadow: 0 0 20px 5px rgba(1, 3, 4,0.5);
	    box-shadow: 0 0 20px 5px rgba(1, 3, 4,0.5);
	}

.caption li {
	position: relative;
	}

.caption p {
	position: absolute;
	top: 3em;
	right: -6%;
	}
	
.caption img {
	border: 0px solid #fff;
	border-right-width: 10px;
	}
	
	.caption li p strong {
		float: right;
		clear: both;
		white-space: nowrap;
		padding: 0 5px;
		margin: 2px 0;
		}

/*--- FLASH/VIDEO ---*/
object,
embed,
video{
	max-width:100%;
	height:auto;
	}






/*------------------------------------*\
	$FORMS
\*------------------------------------*/


fieldset {
	border: none;
	margin: 0;
	}
	
	legend {
		display: none;
		}

	.formrow {
		position: relative;
		display: block;
		min-width: 200px;
		clear: both;
		margin-bottom: 1em;
		}

	.formrow label {	
		display: block;
		margin: 2px 6px;
		padding: 0 ;
		color: #777;
		cursor: text;
		max-width: 54%;
		max-height: 2em;
		line-height: 2; /* hides orphans when applicable */
		overflow: hidden;
		}
		

	.formrow input,
	.formrow select,
	.formrow textarea {
		display: block;
		float: left;
		width: 80%;
		height: 27px;
		margin: 0;
		-webkit-border-radius: 1px 0 0 1px;
		   -moz-border-radius: 1px 0 0 1px;
		        border-radius: 1px 0 0 1px;
		}
		

	.formrow input[type=text],
	.formrow textarea,
	.formrow input[type=email],
	.formrow select {
		padding: 4px 6px;
		
		background-color: #dedede;
		border: solid 1px #e3e3e3;
				
		-webkit-transition: background-color 0.4s, opacity 0.4s;
			 -o-transition: background-color 0.4s, opacity 0.4s;
		   -moz-transition: background-color 0.4s, opacity 0.4s;
				transition: background-color 0.4s, opacity 0.4s;
		}
	.formrow textarea {
		min-height: 7em;
		text-align: top;
		}

	.formrow input.button {
		width: 38%;
		height: 37px;
		margin-left: 1px;
		padding: 8px 4px;
		-webkit-border-radius: 0 1px 1px 0;
		   -moz-border-radius: 0 1px 1px 0;
		        border-radius: 0 1px 1px 0;
		}
	
	.formrow input[type=text]:focus,
	.formrow input[type=text]:active,
	.formrow textarea:focus,
	.formrow textarea:active,
	.formrow input[type=email]:focus,
	.formrow input[type=email]:active {
		background-color: #fff;
		}
	
	.response-error {
		color: #e01b26 ;
		}
	
	.response-success {
		color: #21bbbf;
		}

/*------------------------------------*\
	$TABLES
\*------------------------------------*/
/*
Unfortunately, and somewhat obviously, tables don’t fit the baseline all too well. Perhaps in a later version...
*/
table{
	width:100%;
	max-width:100%;
}
thead tr:last-of-type th{
	/* Thicker border on the table-headers of the last row in the table head. */
	border-bottom-width:2px;
}
tbody th{
	/* Thicker right border on table-headers in the table body. */
	border-right-width:2px;
}
th:empty{
	/* Hide the borders on any empty table-headers. */
	border:none;
}
th,td{
	vertical-align:top;
	padding:0.75em;
	border:1px solid #ccc;
}
th{
	font-weight:bold;
	text-align:center
}
table [colspan]{
	text-align:center;
}
table [rowspan]{
	vertical-align:middle;
}
/*
Assuming IE has an 'implied' colspan of one on cells without an explicit colspan attribute, fix/undo it.
See jsfiddle.net/csswizardry/UJJay/
*/
[colspan="1"]{
    text-align:left;
}
[rowspan="1"]{
    vertical-align:top;
}
tbody tr:nth-of-type(odd){
	background:rgba(1, 3, 4,0.05);
}
tfoot{
	text-align:center;
}
tfoot td{
	border-top-width:2px;
}







/*------------------------------------*\
	$MISC
\*------------------------------------*/

::selection		 { background-color:#fff; color:#000; }
::-moz-selection { background-color:#fff; color:#000; }

.ir {
    display: block;
	text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
	}

.accessibility{
	/* Hide content off-screen without hiding from screen-readers. N.B. This is not suited to RTL languages */
	position:absolute;
	left:-99999px;
	}

.more-link:after{
	/* Too many people use &raquo; in their markup to signify progression/movement, that ain’t cool. Let’s insert that using content:""; */
	content:" »";
}





/*------------------------------------*\
	$CLASSES
\*------------------------------------*/
/*
Some not-too-pretty and insemantic classes to do odd jobs.
*/
.left	{ float:left; }
.right	{ float:right; }
.clear	{ clear:both; float:none; }

.text-left		{ text-align:left; }
.text-right		{ text-align:right; }
.text-center,
.text-centre	{ text-align:center; }

.grids .two-col {
	margin-bottom: 0;
	}

/*------------------------------------*\
	$PAGES
\*------------------------------------*/

/*--- • Landing page ---*/


.landing article.slideshow {
	margin-top: 21em;
	padding-top: 2em;
	clear: both;
	}

	.slideshow section.slideshow {
		position: relative;
		display: block;
		height: 10em;
		padding-top: 8em ;
		margin-top: -23em;
		margin-bottom: 5em;
		clear: both;
		}
	
		.slideshow .slideshow h1 {
			position: absolute;
			margin-bottom: 0;
			bottom: 0;
			min-width: 10em;
			}
	
		section.slideshow .nav {
			position: absolute;
			bottom: 0;
			right: 0;
			margin: 0 -20px 0 0 ;
			}
	
		section.slideshow .nav li,
		section.slideshow .nav li a {
			background: #fff;
			background: -webkit-linear-gradient(bottom, rgb(195,195,195), rgb(255,255,255));
			background:    -moz-linear-gradient(bottom, rgb(195,195,195), rgb(255,255,255));
			background:      -o-linear-gradient(bottom, rgb(195,195,195), rgb(255,255,255));
			background:     -ms-linear-gradient(bottom, rgb(195,195,195), rgb(255,255,255));
			background: 	    linear-gradient(to top, rgb(195,195,195), rgb(255,255,255));
			}
	
			section.slideshow .nav li a {
				background: url(../img/css/sprites.png) 11px 0 no-repeat;
				}
	
			section.slideshow .nav li a#prevslide {
				background-position:  9px -40px ;
				}

.call-to-action {
	position: relative;
	}

.call-to-action .button.primary {
	z-index: 0;
	float: none;
	clear:both;
	margin-bottom: 0;
	}

.call-to-action p.cta-or {
	width: 34px;
	height: 32px;
	padding: 7px 3px 2px;
	overflow: hidden;
	position: relative;
	text-align: center;
	margin: -14px auto;
	z-index: 30;
	-webkit-border-radius: 20px;
	   -moz-border-radius: 20px;
	        border-radius: 20px;
	background-color: #000;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.3), 0 -1px 0 rgba(1, 3, 4,0.3);
	   -moz-box-shadow: 0 1px 0 rgba(255,255,255,.3), 0 -1px 0 rgba(1, 3, 4,0.3);
	        box-shadow: 0 1px 0 rgba(255,255,255,.3), 0 -1px 0 rgba(1, 3, 4,0.3);
	}


/* Course pages */


.main-image {
	position: relative;
	}
		
	.main-image a {
		max-width: 620px;
		max-height: 350px;
		}
		
	.main-image h1 {
		position: absolute;
		bottom: 0;
		}

p.synopsis { 
	font-style: italic;
	color: #1ca1a6;
	margin-bottom: 1em;
	}

.aside ul li { 
	color: #b1e4e5;
	margin-bottom: 1em;
	}


/* Connect page */

.formrow .subject-select-label {
	display: none;
	}

.contact ul span {
	display: none;
	}


/* About page */


		
.about .main-image img {
	margin-bottom: 2em;
	}
			
.about .main-image h1 {
	position: relative;
	}


/*------------------------------------*\
	$TABLET
\*------------------------------------*/
/*
CSS for mobile devices.
Linearise it!
*/
@media (max-width: 959px){
/*------------------------------------*\
	MAIN
\*------------------------------------*/
	




/*------------------------------------*\
	$TYPE
\*------------------------------------*/

.wrapper header ul.nav {
	font-size: 1.5em; /* 24px */
	}
	
footer {
	font-size: .857em;
		}


/*------------------------------------*\
	$IMAGES
\*------------------------------------*/


article img {
	max-width:100%;
	height:auto;
	/* Give it some text styles to offset alt text */
	color:#fff;
	}

/*body{
	-webkit-text-size-adjust:none;
	}
	
header ul.grid-8.nav {
	width: 100%;
	margin: 0;
	float: right;	
	}
	
.grids{
	margin:0;
	width:auto;
	clear: both;
	}*/

.landing .slideshow h1 {
	margin: 0 100px 0 0;
	}
	
aside.connect-group {
	margin: 1em auto;
	clear: both;
	}
	

img.left,
img.right	{ 
	max-width:50%; 
	height:auto; 
	}


/* PAGES */
		
.main-image > .img-link,
.main-image > img {
	margin-left: -5%;
	}
		
.main-image h1 {
	max-width: 470px;
	}




}
/*--- END Tablet ---*/


/*------------------------------------*\
	$MOBILE
\*------------------------------------*/
/*
CSS for mobile devices.
Linearise it!
*/
@media (max-width: 649px){
	
/*------------------------------------*\
	MAIN
\*------------------------------------*/

.aside .margin {
	background: url(../img/css/aside-bg-45px.png) no-repeat -1em top;
	}

.logo {
	width: 175px;
	}
	
	.logo img {
		max-width: 100%;
		}

/*------------------------------------*\
	TYPE
\*------------------------------------*/
/*--- LISTS ---*/
ul,
ol,
dl{
	margin-left:1.5em;
}



/*------------------------------------*\
	IMAGES
\*------------------------------------*/
img.left,
img.right	{ max-width:50%; height:auto; }




}

@media (max-width: 330px){

}

/*--- END MOBILE ---*/





/*------------------------------------*\
	$NARROW
\*------------------------------------*/
/*
CSS for tablets and narrower devices
*/
@media (min-width: 650px) and (max-width: 959px) {

/*------------------------------------*\
	$MAIN
\*------------------------------------*/

.aside .margin {
	background: url(../img/css/aside-bg-45px.png) no-repeat -1em top;
	}

/*------------------------------------*\
	$PAGES
\*------------------------------------*/

/*--- • Landing page ---*/


article.slideshow section.slideshow {
	margin-top: -21em;
	margin-bottom: 3em;
	}
		
section.call-to-action {
	float: left;
	clear: both;
	max-width: 265px;
	}
	
aside.connect-group {
	float: left;
	clear: none;
	margin: 0 -65px -1em 6%;
	}

/* Course pages */

.main-section  {
	width: 57%;
	float: left;
	}

.aside {
	float: right;
	width: 41%; 
	}

	
}

/*--- END NARROW ---*/





/*------------------------------------*\
	$DESKTOP
\*------------------------------------*/
/*
CSS for displays over 960px wide
*/
@media (min-width: 960px) {
	


/*------------------------------------*\
	$TYPE
\*------------------------------------*/


/*--- HEADINGS ---*/

h1,.alpha{
	font-size:2.75em;		/* 44px */
	letter-spacing: -1px;
	}

/*------------------------------------*\
	$GRIDS
\*------------------------------------*/



article {
	padding: 0;
	margin: 1.5em 0;
	}

footer {
	padding: 1.5em 0;
	margin: 1.5em 0;
	}

footer p {
	padding: 1em 0;
	}


/*
Custom built using grid-system igloo at inuitcss.com
Include this igloo in igloos.css
*/
/*
.wrapper{
	width: 650px;
	margin:0 auto;
	padding:0 0 9em 0;
	}
*/
/*
Negative margin avoids class="end" or similar as found in other frameworks
*/
.grids{
	clear:both;
/*	max-width:650px;
*/	list-style:none;
	margin-left: -20px; 
	}

/*
Here we are using an attribute selector to detect the string 'grid-' in an element's class.

Ensure any grid item's FIRST class is a grid-<n> class. e.g.
VALID: class="grid-4 text-centre"
INVALID: class="left grid-4"
*/
[class^="grid-"]{
	float:left;
	margin-right: 20px ;
}
.grids [class^="grid-"]{
	margin-left: 20px;
	margin-right: 0;
}/*
Allow nested grids:
*/
[class^="grid-"] .grids{
	width:auto;
	margin:0 -20px;
}

.grid-1{ width:60px }
.grid-2{ width:140px }
.grid-3{ width:220px }
.grid-4{ width:300px }
.grid-5{ width:380px }
.grid-6{ width:460px }
.grid-7{ width:540px }
.grid-8{ width:620px }
.grid-9{ width:700px }
.grid-10{ width:780px }
.grid-11{ width:860px }
.grid-12{ width:940px; margin-left:0; margin-right:0; }
	
.grids .left-1{ margin-left:100px }
.grids .left-2{ margin-left:180px }
.grids .left-3{ margin-left:260px }
.grids .left-4{ margin-left:340px }
.grids .left-5{ margin-left:420px }
.grids .left-6{ margin-left:500px }
.grids .left-7{ margin-left:580px }
.grids .left-8{ margin-left:660px }

.grids .right-1{ margin-right:100px }
.grids .right-2{ margin-right:180px }
.grids .right-3{ margin-right:260px }
.grids .right-4{ margin-right:340px }
.grids .right-5{ margin-right:420px }
.grids .right-6{ margin-right:500px }
.grids .right-7{ margin-right:580px }
.grids .right-8{ margin-right:660px }


/* grid element fixes */


article .grids ul,
article .grids ol,
article .grids dd { 
	padding-left: 1.5em;
	}

header {
	height: 6.25em;
	}

.nav-trigger {
	display: none;
	}
	
.grids ul.nav.main-nav {
	display: block;
	float: none;
	padding: 2em 0;
	font-size: 1.25em;
	background-color: transparent;
	}
	
	.main-nav a,
	.main-nav li {
		position: relative;
		color: #ddd;
		}
	
	.main-nav li {
		margin-right: 2.5em;
		float: left;
		}
	
	.main-nav a {
		padding: .625em; /* 10px */
		}
	
	.grids ul.main-nav > li > a:hover,
	.rgba .grids > ul.main-nav > li > a:hover {
		background-color: transparent;
		}
	
.grids ul.nav.main-nav ul {
	height: 0;
	overflow: hidden;
	position: absolute;
	top: 3em;
	width: 700px;
	background-color: rgba(1, 3, 4,0.6);
	}
	
.grids ul.nav.main-nav li:hover ul,
.grids ul.nav.main-nav a:hover ul {
	height: auto;
	overflow: visible;
	}
	
	.grids ul.nav.main-nav ul li {
		height: 0;
		width: 700px;
		line-height: 0;
		margin-right: 0;
		-webkit-transition:  all .2s linear;
		   -moz-transition:  all .2s linear;
			 -o-transition:  all .2s linear;
				transition:  all .2s linear;
		}
		
	.grids ul.nav.main-nav li:hover ul li {
		height: auto;
		line-height: 1.5;
			}
	
	.grids ul.nav.main-nav ul li,
	.grids ul.nav.main-nav ul li a {
		clear: both;
		text-align: left;
		}


/*------------------------------------*\
	$FOOTER
\*------------------------------------*/
footer {
	max-width: 100%;
	font-size: 1em;
	}

/*------------------------------------*\
	$PAGES
\*------------------------------------*/

/*--- • Landing page ---*/

section.call-to-action .button.primary {
	float: left;
	clear: none;
	width: 140px;
	height: 60px;
	padding: 30px 40px ;
	vertical-align: middle;
	line-height: 1;
	}

	section.call-to-action .button.primary span {
		padding: .5625em 1em 0;
		display: block;
		}

section.call-to-action p.cta-or {
	position: absolute;
	left: 50%;
	bottom: 40px;
	margin: 0 0 0 -20px ; 
	-webkit-box-shadow: 1px 0 0 rgba(255,255,255,.3), 0 -1px 0 rgba(1, 3, 4,0.3);
	   -moz-box-shadow: 1px 0 0 rgba(255,255,255,.3), 0 -1px 0 rgba(1, 3, 4,0.3);
	        box-shadow: 1px 0 0 rgba(255,255,255,.3), 0 -1px 0 rgba(1, 3, 4,0.3);
	}
	
.grids aside.connect-group {
	margin-top: -1em;
	}
/*--- END DESKTOP ---*/



/*------------------------------------*\
	$PRINT
\*------------------------------------*/
/*
Good ol’ fashioned paper...
*/
@media print{
/*------------------------------------*\
	MAIN
\*------------------------------------*/
/*
Give everything some decent contrast.
*/
*{
	background-color:#fff;
	color:#000;
	text-shadow:none!important;
}
/*
Set a nice measure and take the font down to print-acceptable sizes.
*/

body{
	font-size:0.75em; /* 12px (if base font-size was 16px) */
}
.wrapper{
	width:75%;
	margin:0 auto;
}
/*
A list of things you don’t want printing. Add to/subtract from as necessary. 
*/
.nav,
.footer {
	display:none;
}
.logo img{
	position:static;
}
/*
Linearise
*/
.grids{
	width:auto;
}
[class^="grid-"]{
	width:auto;
	float:none;
	clear:both;
}
/*
Don’t let images break anything.
*/
img{
	max-width:100%;
	height:auto;
}
/*
Messages look odd with just borders.
*/
.message{
	border:none;
	font-weight:bold;
}
/*
Display the href of any links.
*/
a:link:after,a:visited:after{
	content:" (" attr(href) ")";
	font-size:smaller;
}
/*
Any links that are root relative to your site need prepending with your URL.
*/
a[href^="/"]:after{
	content:" (http://www.britanniarow.com" attr(href) ")";
	font-size:smaller;
}
/*
Any Flash/video content can’t be printed so leave a message.
*/
object:after{
	content:"Flash/video content. Head to http://yoururlhere.com/ to view this content.";
	display:block;
	font-weight:bold;
	margin-bottom:1.5em;
}
}
/*--- END PRINT ---*/